<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    ID : <span sec:authentication="name"></span> <br>
    소유 권한 : <span sec:authentication="authorities"></span> <br>
<!--    이메일 : <span sec:authentication="principal.user.email"></span> <br>-->
</div>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>CLUBWIKI</h1>
        <p class="login">로그인</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/login">로그인</a>
            <a class="btn btn-lg btn-primary" href="/logout">로그아웃</a>
        </p>
        <p class="lead">회원</p>
        <p>
            <a class="btn btn-lg btn-info" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-info" href="/members">회원 목록</a>
        </p>
        <p class="lead">동아리</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/clubs/new">동아리 등록</a>
            <a class="btn btn-lg btn-dark" href="/userClubs">동아리 목록</a>
            <a class="btn btn-lg btn-dark" href="/allClubs">전체 동아리 목록</a>
        </p>
    </div>
</div>
</body>
</html>