<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>카테고리</th>
                <th>카테고리</th>
                <th>가입</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="club : ${clubs}">


                <td th:text="${club.id}"></td>
                <td th:text="${club.name}"></td>
                <div th:each="interest : ${club.interestList}">
                    <td th:text="${interest.interest}"></td>
                </div>

                <!-- club id로 가입 버튼 할수 있겟는데 -->
                <form role="form" action="/allClubs/join" method="post"/>

                <input type="hidden" th:name="clubId" th:value="${club.id}">
                <td>
                    <button type="submit" class="btn-primary">가입</button>
                </td>
                </form>

                <form role="form" action="/allClubs/delete" method="post"/>
                <input type="hidden" th:name="clubId" th:value="${club.id}">
                <td>
                    <button type="submit" class="btn btn-danger">삭제</button>
                </td>
                </form>
                <!--    address가 null 이면 city 안찍는            -->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>