<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>

            <td th:text="${clubId}"></td>
            <div>
                <form role="form" th:action="@{/clubBoards/new/__${clubId}__}"  method="get">
                <td>
                    <button type="submit" class="btn btn-primary">게시판 생성</button>
                </td>
                </form>
            </div>

            <tr>
                <th>이름</th>
                <th>이동</th>
                <th>잠금</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="clubBoard : ${clubBoards}">
                <td th:text="${clubBoard.name}"></td>

                <td>
                <form role="form" th:action="@{/clubBoards/__${clubBoard.id}__}" method="get">

                    <button type="submit" class="btn btn-primary">이동</button>

                </form>
                </td>

                <td>
                <form role="form" th:action="@{/clubBoards/lock/__${clubBoard.id}__}" method="post">
                    <button type= "submit" class="btn btn-outline-dark" th:text="${clubBoard.bLock}"></button>
                </form>
                </td>


            </tr>
            </tbody>

        </table>
    </div>
</div> <!-- /container -->
</body>
</html>